# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
venv*/
.env
_env.
venv312/

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.parquet
*.zip
*.pkl

# OS / IDE
.vscode/
.idea/
.DS_Store


*.pdf
*.tsv
*.odp
*.tmp
*.log
mlruns/
.mlflow/
mlflow.db
