# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
venv*/
.env
_env.
venv312/

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.parquet
*.zip
*.pkl

# Exception : modèle exporté pour le déploiement
!model_export/threshold.txt

# OS / IDE
.vscode/
.idea/
.DS_Store

*.pdf
*.tsv
*.odp
*.tmp
*.log
mlruns/
.mlflow/
mlflow.db
*.db

# fichier avec token HF pour création HF model
upload_model.py

model_export/model.pkl
model_export/
mlflow.db
*.db
