# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
venv*/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.parquet
*.zip

# OS / IDE
.vscode/
.idea/
.DS_Store


*.pdf